<div class="page-header">
    <h1>
        TODO: item name + icon
        <a href="http://wiki-de.guildwars2.com/wiki/FIXME"><img src="/static/images/gw2wiki.jpg"></a>
        <a href="https://gw2treasures.com/item/${latestStats.itemId}"><img src="/static/images/gw2treasures.png"></a>
    </h1>
    <h3>
        Profit: #price($gw2.profit($latestStats.buyStatistics.maxPrice, $latestStats.sellStatistics.minPrice))
    </h3>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th colspan="2" class="text-buyers">Buyers</th>
            </tr>
            <tr>
                <th>Highest bidder</th>
                <td>#price(${latestStats.buyStatistics.maxPrice})</td>
            <tr>
            <tr>
                <th>Average bidder</th>
                <td>#price($mathtool.floor($latestStats.buyStatistics.average))</td>
            <tr>
            <tr>
                <th>Lowest bidder</th>
                <td>#price($mathtool.floor($latestStats.buyStatistics.minPrice))</td>
            <tr>
            <tr>
                <th>Amount of bidders</th>
                <td>${latestStats.buyStatistics.totalAmount}</td>
            <tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th colspan="2" class="text-sellers">Sellers</th>
            </tr>
            <tr>
                <th>Lowest seller</th>
                <td>#price(${latestStats.sellStatistics.minPrice})</td>
            <tr>
            <tr>
                <th>Average seller</th>
                <td>#price($mathtool.floor($latestStats.sellStatistics.average))</td>
            <tr>
            <tr>
                <th>Highest seller</th>
                <td>#price($mathtool.floor($latestStats.sellStatistics.maxPrice))</td>
            <tr>
            <tr>
                <th>Amount of sellers</th>
                <td>${latestStats.sellStatistics.totalAmount}</td>
            <tr>
        </table>
    </div>
</div>

<div id="priceHistory"></div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script>
    window.gw2historyData = ${history};
</script>
<script src="/static/js/history.js"></script>