<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "${item.name}",
    "image": "${item.iconUrl}",
    "mpn": "925872",
    "offers": {
        "@type": "Offer",
        "priceCurrency": "Guild Wars 2 Coins",
        "price": "${latestStats.sellStatistics.minPrice}"
    }
}
</script>

<div class="page-header">
    <h1>
        <img alt="Item icon" src="${item.iconUrl}"> ${item.name} #if($item.level > 0)<span title="Level requirements">(${item.level})</span>#end
        <a href="http://wiki-en.guildwars2.com/wiki/${gw2.wikiName($item.name)}"><img alt="gw2wiki" title="Link to the official Guild Wars 2 Wiki" src="/static/images/gw2wiki.jpg"></a>
        <a href="https://gw2treasures.com/item/${latestStats.itemId}"><img alt="gw2treasures" title="Link to gw2treasures.com for further item information" src="/static/images/gw2treasures.png"></a>
    </h1>
    <h3>
        Profit: #price($gw2.profit($latestStats.buyStatistics.maxPrice, $latestStats.sellStatistics.minPrice))
    </h3>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th colspan="2" class="text-buyers">Buyers</th>
            </tr>
            <tr>
                <th>Highest bidder</th>
                <td>#price(${latestStats.buyStatistics.maxPrice})</td>
            </tr>
            <tr>
                <th>Average bidder</th>
                <td>#price($mathtool.floor($latestStats.buyStatistics.average))</td>
            </tr>
            <tr>
                <th>Lowest bidder</th>
                <td>#price($mathtool.floor($latestStats.buyStatistics.minPrice))</td>
            </tr>
            <tr>
                <th>Amount of bidders</th>
                <td>${latestStats.buyStatistics.totalAmount}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th colspan="2" class="text-sellers">Sellers</th>
            </tr>
            <tr>
                <th>Lowest seller</th>
                <td>#price(${latestStats.sellStatistics.minPrice})</td>
            </tr>
            <tr>
                <th>Average seller</th>
                <td>#price($mathtool.floor($latestStats.sellStatistics.average))</td>
            </tr>
            <tr>
                <th>Highest seller</th>
                <td>#price($mathtool.floor($latestStats.sellStatistics.maxPrice))</td>
            </tr>
            <tr>
                <th>Amount of sellers</th>
                <td>${latestStats.sellStatistics.totalAmount}</td>
            </tr>
        </table>
    </div>
</div>

<div id="priceHistoryTooltip" class="gw2-history-tooltip" style="display: none;">
    <span class="tooltip-seller-avg">Average seller:</span>
    <span class="avg-seller-value"></span>
    <br>
    <span class="tooltip-seller">Lowest seller:</span>
    <span class="lowest-seller-value"></span>
    <br>
    <span class="tooltip-bidder">Highest buyer:</span>
    <span class="highest-bidder-value"></span>
    <br>
    <span class="tooltip-bidder-avg">Average buyer:</span>
    <span class="avg-bidder-value"></span>
</div>
<div class="btn-group" role="group" id="chart-timeframe-selectors">
    <button type="button" class="btn btn-default" data-offset="1m">1 Month</button>
    <button type="button" class="btn btn-default" data-offset="7d" data-initial="true">1 Week</button>
    <button type="button" class="btn btn-default" data-offset="3d">3 Days</button>
    <button type="button" class="btn btn-default" data-offset="1d">Today</button>
</div>
<div id="priceHistory">
</div>
<div id="supplyDemand"></div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script>
    window.gw2historyData = ${history};
    window.gw2scope = {
        itemId: ${item.itemId}
    };
</script>
<script src="/static/js/history.js"></script>