<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "${latestStats.item.name}",
    "image": "${latestStats.item.iconUrl}",
    "offers": {
        "@type": "Offer",
        "priceCurrency": "Guild Wars 2 Coins",
        "price": "${latestStats.sellStatistics.minPrice}"
    }
}
</script>

<div class="page-header">
    <h1 class="rarity-${latestStats.item.rarity.toLowerCase()}">
        <img class="item-icon" alt="Item icon" src="${latestStats.item.iconUrl}"> ${latestStats.item.name} #if($latestStats.item.level > 0)<span title="${i18n.message('details.item.levelReq')}">(${latestStats.item.level})</span>#end
    </h1>
    <nav class="navbar navbar-default">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#attributes">${i18n.message('details.area.attributes')}</a></li>
                <li><a href="#trading">${i18n.message('details.area.trading')}</a></li>
                <li><a href="#graphs">${i18n.message('details.area.graphs')}</a></li>
                <li><a href="#crafting">${i18n.message('details.area.crafting')}</a></li>

                <li><a href="http://wiki-en.guildwars2.com/wiki/${gw2.wikiName($latestStats.item.name)}">Wiki</a></li>
            </ul>
        </div>
    </nav>
    <h3>
        <span class="text-profit">${i18n.message('details.data.profit')}</span> #price($gw2.profit($latestStats.buyStatistics.maxPrice, $latestStats.sellStatistics.minPrice))
    </h3>
</div>

<a name="attributes"></a>
<h3>${i18n.message('details.area.attributes')}</h3>
#if($latestStats.item.type == "Armor" || $latestStats.item.type == "Back" || $latestStats.item.type == "Trinket" || $latestStats.item.type == "UpgradeComponent" || $latestStats.item.type == "Weapon")
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default attributes">
            <div class="panel-body">
                <ul class="item-attributes">
                #if($latestStats.item.type == "Weapon")
                <li>
                    ${i18n.message("details.weaponStrength")}
                    <span class="item-attributes-weapon-strength">${latestStats.item.details.minPower}&nbsp;-&nbsp;${latestStats.item.details.maxPower}</span>
                </li>
                #end
                #foreach($attr in $latestStats.item.details.attributes.attributes)
                <li>
                    <span class="item-attributes-modifier">+&nbsp;${attr.modifier}</span>
                    <span class="item-attributes-name">${i18n.message("details.attr.${attr.attribute}")}</span>
                </li>
                #end
                #if(!$latestStats.item.details.attributes.attributes.empty)
                <li>&nbsp;</li>
                #end
                <li>${i18n.message("details.rarity.${latestStats.item.rarity}")}</li>
                #if($latestStats.item.type == "Armor")
                <li>${i18n.message("details.weightClass.${latestStats.item.details.weightClass}")}</li>
                #end
                <li>${i18n.message("details.slot.${latestStats.item.details.type}")}</li>
                <li>${i18n.message("details.requiredLevel")} ${latestStats.item.level}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
#else
<i>${i18n.message('details.area.attributes.noneAvailable')}</i>
#end

<h3>${i18n.message('details.area.trading')}</h3>
<div class="row">
    <a name="trading"></a>
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th colspan="2" class="text-buyers">${i18n.message('details.cols.buyers')}</th>
            </tr>
            <tr>
                <th>${i18n.message('details.cols.maxBuyer')}</th>
                <td>#price(${latestStats.buyStatistics.maxPrice})</td>
            </tr>
            <tr>
                <th>${i18n.message('details.cols.avgBuyer')}</th>
                <td>#price($mathtool.floor($latestStats.buyStatistics.average))</td>
            </tr>
            <tr>
                <th>${i18n.message('details.cols.minBuyer')}</th>
                <td>#price($mathtool.floor($latestStats.buyStatistics.minPrice))</td>
            </tr>
            <tr>
                <th>${i18n.message('details.cols.totalBuyers')}</th>
                <td>${latestStats.buyStatistics.totalAmount}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th colspan="2" class="text-sellers">${i18n.message('details.cols.sellers')}</th>
            </tr>
            <tr>
                <th>${i18n.message('details.cols.minSeller')}</th>
                <td>#price(${latestStats.sellStatistics.minPrice})</td>
            </tr>
            <tr>
                <th>${i18n.message('details.cols.avgSeller')}</th>
                <td>#price($mathtool.floor($latestStats.sellStatistics.average))</td>
            </tr>
            <tr>
                <th>${i18n.message('details.cols.maxSeller')}</th>
                <td>#price($mathtool.floor($latestStats.sellStatistics.maxPrice))</td>
            </tr>
            <tr>
                <th>${i18n.message('details.cols.totalSellers')}</th>
                <td>${latestStats.sellStatistics.totalAmount}</td>
            </tr>
        </table>
    </div>
</div>

<div id="priceHistoryTooltip" class="gw2-history-tooltip" style="display: none;">
    <span class="tooltip-profit">${i18n.message('details.tooltip.profit')}</span>
    <span class="profit-value"></span>
    <br>
    <span class="tooltip-seller-avg">${i18n.message('details.tooltip.avgSeller')}</span>
    <span class="avg-seller-value"></span>
    <br>
    <span class="tooltip-seller">${i18n.message('details.tooltip.minSeller')}</span>
    <span class="lowest-seller-value"></span>
    <br>
    <span class="tooltip-bidder">${i18n.message('details.tooltip.maxBuyer')}</span>
    <span class="highest-bidder-value"></span>
    <br>
    <span class="tooltip-bidder-avg">${i18n.message('details.tooltip.avgBuyer')}</span>
    <span class="avg-bidder-value"></span>
</div>

<a name="graphs"></a>
<h3>${i18n.message('details.area.graphs')}</h3>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group" id="chart-timeframe-selectors">
        <button type="button" class="btn btn-default" data-offset="1m">${i18n.message('details.timeframes.1m')}</button>
        <button type="button" class="btn btn-default" data-offset="7d" data-initial="true">${i18n.message('details.timeframes.7d')}</button>
        <button type="button" class="btn btn-default" data-offset="3d">${i18n.message('details.timeframes.3d')}</button>
        <button type="button" class="btn btn-default" data-offset="1d">${i18n.message('details.timeframes.1d')}</button>
    </div>
    <div class="btn-group" role="group" id="chart-line-selectors">
        <button type="button" class="btn btn-default text-data-profit" data-line="profit" data-initial="true">
            ${i18n.message('details.lines.profit')}
        </button>
        <button type="button" class="btn btn-default text-data-avg-sellers" data-line="avg_sellers">
            ${i18n.message('details.lines.avgSellers')}
        </button>
        <button type="button" class="btn btn-default text-data-min-sellers" data-line="min_sellers" data-initial="true">
            ${i18n.message('details.lines.minSellers')}
        </button>
        <button type="button" class="btn btn-default text-data-max-buyers" data-line="max_buyers" data-initial="true">
            ${i18n.message('details.lines.maxBuyers')}
        </button>
        <button type="button" class="btn btn-default text-data-avg-buyers" data-line="avg_buyers">
            ${i18n.message('details.lines.avgBuyers')}
        </button>
    </div>
</div>
<div id="priceHistory"></div>
<div id="supplyDemand"></div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script>
    window.gw2scope = {
        itemId: ${latestStats.item.itemId},
        labels: {
            min_sellers: "${i18n.message('details.lines.minSellers')}",
            avg_sellers: "${i18n.message('details.lines.avgSellers')}",
            max_buyers: "${i18n.message('details.lines.maxBuyers')}",
            avg_buyers: "${i18n.message('details.lines.avgBuyers')}",
            profit: "${i18n.message('details.lines.profit')}",
            sellers: "${i18n.message('details.lines.sellers')}",
            buyers: "${i18n.message('details.lines.buyers')}"
        }
    };
</script>
<script src="/static/js/history.js"></script>

<a name="crafting"></a>
<h3>${i18n.message('details.area.crafting')}</h3>

<h4>${i18n.message('details.area.crafting.targetRecipes')}</h4>
#if($sourceRecipes.empty)
<i>${i18n.message('details.area.crafting.targetRecipes.noneAvailable')}</i>
#else
<div class="crafting-list">
    #foreach($recipe in $targetRecipes)
    <div class="crafting-list-item">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="/${locale}/details/${recipe.outputItemId}.html">${recipe.outputItemName}</a>
                </h3>
            </div>
            <div class="panel-body">
                <ul class="crafting-ingredients">
                #foreach($ingredient in $recipe.ingredients)
                <li>${ingredient.count}x <a href="/${locale}/details/${ingredient.itemId}.html">${ingredient.name}</a></li>
                #end
                </ul>
            </div>
        </div>
    </div>
    #end
</div>
#end

<h4>${i18n.message('details.area.crafting.sourceRecipes')}</h4>
#if($sourceRecipes.empty)
<i>${i18n.message('details.area.crafting.sourceRecipes.noneAvailable')}</i>
#else
<div class="crafting-list">
    #foreach($recipe in $sourceRecipes)
    <div class="crafting-list-item">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="/${locale}/details/${recipe.outputItemId}.html">${recipe.outputItemName}</a>
                </h3>
            </div>
            <div class="panel-body">
                <ul class="crafting-ingredients">
                #foreach($ingredient in $recipe.ingredients)
                <li>${ingredient.count}x <a href="/${locale}/details/${ingredient.itemId}.html">${ingredient.name}</a></li>
                #end
                </ul>
            </div>
        </div>
    </div>
    #end
</div>
#end