<!DOCTYPE html>
<html>
    <head>
        #if($seoMeta.titleArgs)
            #set($title = "$springMacroRequestContext.getMessage($seoMeta.title, $seoMeta.titleArgs)")
        #else
            #set($title = "#springMessage($seoMeta.title)")
        #end
        #if($seoMeta.descriptionArgs)
            #set($description = "$springMacroRequestContext.getMessage($seoMeta.description, $seoMeta.descriptionArgs)")
        #else
            #set($description = "#springMessage($seoMeta.description)")
        #end

        <title>${title}</title>
        <meta name="description" content="${description}" />
        <meta name="keywords" content="Guild Wars 2, GW2, Items, $!{seoMeta.keywords}"/>

        <meta property="og:title" content="${title}">
        <meta property="og:site_name" content="Guild Wars 2 Trades">
        <meta property="og:description" content="${description}">

        #if($seoMeta.imageUrl)
        <meta property="og:image" content="${seoMeta.imageUrl}">
        #end
        <meta property="og:type" content="website">
        <meta property="og:locale" content="${springMacroRequestContext.locale}">

        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon; charset=binary">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon; charset=binary">

        <meta name="google-site-verification" content="dWFuOCX3LEVemfx5zMulWZZONuBDrJ1O1ftyDPW4G4o" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <nav class="navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/${springMacroRequestContext.locale}/index.html">gw2trades</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="https://github.com/slotties/gw2trades/wiki/News">News</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/de/index.html">DE</a></li>
                        <li><a href="/en/index.html">EN</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="body-container" class="container-fluid">
            #parse("${view}.vm")

            <footer>
                <div class="panel panel-default">
                    <ul class="nav nav-pills">
                        <li><a href="/${springMacroRequestContext.locale}/impressum.html">#springMessage('frame.impressum')</a></li>
                        <li><a href="mailto:slotties@gmail.com">#springMessage('frame.contactMe')</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70815637-1', 'auto');
      ga('send', 'pageview', {
        #if($googleAnalytics)
            #foreach($v in $googleAnalytics.dimensions)
                "dimension${mathtool.add($foreach.index, 1)}": "$v"#if(!$foreach.last),#end
            #end
        #end
      });
    </script>
</html>