#parse("/pager.vm")

#macro(orderLink $whenOrderBy)?page=$!{currentPage}&orderBy=${whenOrderBy}#if($whenOrderBy == $orderBy && $orderDir=="asc")&orderDir=desc#else&orderDir=asc#end#end

<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>&nbsp;</th>
        <th colspan="2">Buy</th>
        <th colspan="2">Sell</th>
    </tr>
    <tr>
        <th>Item</th>
        <th><a href="#orderLink("highestBidder")">Highest bidder</a></th>
        <th><a href="#orderLink("avgBidder")">Average price</a></th>
        <th><a href="#orderLink("lowestSeller")">Lowest seller</a></th>
        <th><a href="#orderLink("avgSeller")">Average price</a></th>
    </tr>
#foreach($stats in $listingStatistics)
    <tr>
        <td>
            <a href="/details/${stats.itemId}.html">
                ${stats.itemId}
            </a>
        </td>
        <td>${stats.buyStatistics.maxPrice}</td>
        <td>${stats.buyStatistics.average}</td>
        <td>${stats.sellStatistics.minPrice}</td>
        <td>${stats.sellStatistics.average}</td>
    </tr>
#end
</table>

#parse("/pager.vm")