<div class="page-header">
    <h1>All items</h1>
</div>

#parse("/pager.vm")

<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>&nbsp;</th>
        <th colspan="2">Buy</th>
        <th colspan="2">Sell</th>
    </tr>
    <tr>
        <th>Item</th>
        <th>
            <a href="#orderLink("highestBidder")">Highest bidder</a>
            #orderIcon('highestBidder')
        </th>
        <th>
            <a href="#orderLink("avgBidder")">Average price</a>
            #orderIcon('avgBidder')
        </th>
        <th>
            <a href="#orderLink("lowestSeller")">Lowest seller</a>
            #orderIcon('lowestSeller')
        </th>
        <th>
            <a href="#orderLink("avgSeller")">Average price</a>
            #orderIcon('avgSeller')
        </th>
    </tr>
#foreach($stats in $listingStatistics)
    <tr>
        <td>
            <a href="/details/${stats.item.itemId}.html">
                ${stats.item.name} (${stats.item.level})
            </a>
        </td>
        <td>#price(${stats.statistics.buyStatistics.maxPrice})</td>
        <td>#price($mathtool.floor($stats.statistics.buyStatistics.average))</td>
        <td>#price(${stats.statistics.sellStatistics.minPrice})</td>
        <td>#price($mathtool.floor($stats.statistics.sellStatistics.average))</td>
    </tr>
#end
</table>

#parse("/pager.vm")