<nav>
    <ul class="pagination">
        <li class="#if($currentPage == 1)disabled#end">
            <a href="#if($currentPage == 1)javascript:void(0);#else#indexPagerLink($mathtool.sub($currentPage, 1))#end">
                <span>&laquo;</span>
            </a>
        </li>

        #foreach($pagerEntry in $pagerEntries)
            #if($pagerEntry == $currentPage || $pagerEntry == "...")
                <li class="disabled">
                    <a href="javascript:void(0);">
                        <span>${pagerEntry}</span>
                    </a>
                </li>
            #else
                <li>
                    <a href="#indexPagerLink($pagerEntry)">
                        <span>${pagerEntry}</span>
                    </a>
                </li>
            #end
        #end

        <li class="#if($currentPage == $lastPage)disabled#end">
            <a href="#if($currentPage == $lastPage)javascript:void(0);#else#indexPagerLink($mathtool.add($currentPage, 1))#end">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</nav>