<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
#*
    Basic URLs
*#
    <url>
        <loc>http://www.gw2trades.de/index.html</loc>
        <lastmod>${now}</lastmod>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>
    <url>
        <loc>http://www.gw2trades.de/impressum.html</loc>
        <lastmod>${now}</lastmod>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>

#foreach($stat in $stats.results)
    <url>
        <loc>http://www.gw2trades.de/details/${stat.itemId}.html</loc>
        <lastmod>${now}</lastmod>
        <changefreq>hourly</changefreq>
        <priority>1.0</priority>
    </url>
#end
</urlset>