/*
    TODO: use sass

    Colors:
    http://paletton.com/#uid=7010J0kr2p6hjvVm7s7tAkrA0fp

    color | normal | bright | dark
    red C8231F FE7875 7B0300
    blue 1C5181 527EA5 052C4F
    green 189D21 5CC863 006106
    yellow C8821F FEC575 7B4800

*/

.currency-gold {
    background: url('../images/coin_gold.png') center right no-repeat;
}
.currency-silver {
    background: url('../images/coin_silver.png') center right no-repeat;
}
.currency-copper {
    background: url('../images/coin_copper.png') center right no-repeat;
}
.currency-negative {
    font-weight: bold;
    color: C8231F;
}

.currency-gold,
.currency-silver,
.currency-copper {
    padding-right: 24px;
    display: inline-block;
    width: 48px;
    text-align: right;
}

/*
    Charts
*/
.gw2-charts-axis path,
.gw2-charts-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.gw2-charts-x.gw2-charts-axis path {
    display: none;
}

.gw2-history-buyers {
    fill: none;
    stroke: #C8231F;
    stroke-width: 2px;
}
.gw2-history-buyers-avg {
    fill: none;
    stroke: #FE7875;
    stroke-width: 2px;
    opacity: 0.5;
}
.gw2-history-sellers {
    fill: none;
    stroke: #1C5181;
    stroke-width: 2px;
}
.gw2-history-sellers-avg {
    fill: none;
    stroke: #527EA5;
    stroke-width: 2px;
    opacity: 0.5;
}
.gw2-history-profit {
    fill: none;
    stroke: #448F30;
    stroke-width: 2px;
}

.gw2-history-buyers-focus {
    fill: none;
    stroke: #C8231F;
}
.gw2-history-sellers-focus {
    fill: none;
    stroke: #1C5181;
}
.gw2-history-tooltip {
    position: absolute;
    border: 1px solid #FE7875;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px;
}

.gw2-charts-overlay {
    fill: none;
    pointer-events: all;
}

#body-container {
    margin-top: 30px;
}

/*
    Navigation
*/
.navbar-default .navbar-brand {
    color: #C8241F;
}

a,
a:hover,
a:focus,
.pagination>li>a,
.pagination>li>a:hover,
.pagination>li>a:focus {
    color: #C8231F;
}

.text-sellers {
    color: #1C5181;
}

.text-buyers {
    color: #C8231F;
}

.item-icon-mini {
    width: 32px;
    height: 32px;
}